<!-- navbar start -->
<div class="navbar-area">
    <!-- Your existing navbar content goes here -->
</div>
<!-- navbar end -->

<!-- breadcrumb start -->
<div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/3.png')">
    <!-- Your existing breadcrumb content goes here -->
</div>
<!-- breadcrumb end -->

<!-- forgot password area start -->
<div class="forgot-password-area pd-top-120 pd-bottom-120" style="background-image: url('assets/img/background2.jpg')">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7">
                <div class="forgot-password-inner">
                    <div class="row">
                        <div class="col-12">
                            <form [formGroup]="passwordForm" (ngSubmit)="forgotPassword()">
                                <div class="single-input-inner style-bg-border">
                                    <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
                                    <input class="form-control" formControlName="email" placeholder="Email" type="email">
                                    <div *ngIf="passwordForm.get('email')?.invalid && passwordForm.get('email')?.touched" class="text-danger">
                                        Email must be valid.
                                    </div>
                                </div>
                                <div class="col-12 mb-4">
                                    <button class="btn btn-primary btn-block" type="submit">Request new password</button>
                                </div>
                                <div class="col-12">
                                    <p class="mt-3 mb-1" style="color :white">
                                        <a routerLink="/login">Login</a>
                                    </p>
                                    <p class="mb-0" style="color :white">
                                        <a class="text-center" routerLink="/signup">Register a new membership</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- forgot password area end -->

    <!-- footer area start -->
    <footer class="footer-area bg-gray">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 align-self-center">
                        <a href="index.html"><img src="assets/img/logo.png" alt="img"></a>
                    </div>
                    <div class="col-lg-4  col-md-6 order-lg-12 text-md-right align-self-center">
                        <ul class="social-media mt-md-0 mt-3">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 order-lg-8 text-lg-center align-self-center mt-lg-0 mt-3">
                        <p>Courzelo team</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->


<!-- all plugins here -->
<script src="assets/js/vendor.js"></script>
<!-- main js -->
<script src="assets/js/main.js"></script>
