<div class="post-sidebar">
    <h4>Creating a Post Instructions</h4>
    <ul>
      <li>Enter a title for your post in the Title field.</li>
      <li>Provide a URL if applicable in the URL field.</li>
      <li>Select the appropriate subreddit from the dropdown.</li>
      <li>Compose your post content using the editor.</li>
      <li>You can add an image or video using the file input.</li>
      <li>Click the "Post" button to publish your post.</li>
      <li>You can discard the post by clicking the "Discard" button.</li>
    </ul>
  </div>