.post-sidebar {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 15px;
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    width: 300px;
    z-index: 1000;
  }
  h4 {
    margin-bottom: 10px;
    color: #1c1c1c;
  }
  ul {
    list-style-type: none;
    padding: 0;
    color: #555;
  }
  li {
    margin-bottom: 8px;
  }