<div class="row">
  <div class="col-sm-12">
    <div class="card comman-shadow">
      <div class="card-body">
        <form [formGroup]="editDepartFormGroup" (submit)="handleUpdateDepart()">
          <div class="row">
            <div class="col-12">
              <h5 class="form-title student-info">Informations about Departments</h5>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Name <span class="login-danger">*</span></label>
                <input class="form-control" type="text" formControlName="name"/>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="form-group local-forms">
                <label>Chef department <span class="login-danger">*</span></label>
                <input class="form-control" type="text" formControlName="chefDepartment"/>
              </div>
            </div>
            <div class="col-12 d-flex align-items-center justify-content-center">
              <div class="student-submit">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
