<app-forum-header></app-forum-header>
<div class="container" style="margin-top: 50px;margin-left: 200px; margin-bottom: 100px;">
    <div class="row">
      <div class="create-subreddit-container">
        <form class="post-form" [formGroup]="updateArticleForm" (ngSubmit)="updateArticle()">
          <div class="form-group">
            <div class="create-subreddit-heading">Update Article</div>
            <hr />
            <input type="text" [formControlName]="'titre'" class="form-control" style="margin-top: 5px"
              placeholder="Title">
            <input type="text" [formControlName]="'category'" class="form-control" style="width: 100%; margin-top: 5px"
              placeholder="Category">
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discard()" class="btnDiscard">Discard</button>
                <button class="btnCreateSubreddit">Update</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-3" style="margin-left: 100px;">
        <div class="sidebar">
          <h5 class="guidelines">Posting to Courzelo Forum</h5>
          <hr />
          <ul>
            <li>Remember the human</li>
            <hr />
            <li>Behave like you would in real life</li>
            <hr />
            <li>Don't spam</li>
            <hr />
          </ul>
        </div>
      </div>
    </div>
  </div>
