<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
      <div class="col-sm-6">
          <!-- Notification area -->
      </div><!-- /.col -->
      <div class="row mb-2" style="margin-top: 100px; margin-left: auto; margin-right: auto; width: fit-content;">
          <div class="b-animate-2 title">
              <h1 class="b-animate-2 title">Users Table</h1>
          </div>
      </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" style="height: 65vh;margin-left: 250px;">
  <div class="profile-content-container">
      <!-- Users Table Content -->
      <div class="container-fluid">
          <div class="row">
              <div class="col-12 table-container">
                  <div class="card">
                      <div class="card-header">
                          <h3 class="card-title">List Of User's Accounts</h3>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                          <thead>
                          <tr>
                            <th><i class="fas fa-envelope mr-2"></i>Email</th>
                            <th><i class="fas fa-user mr-2"></i>Name</th>
                            <th><i class="fas fa-user mr-2"></i>Lastname</th>
                            <th><i class="fas fa-users mr-2"></i>Roles</th>
                            <th><i class="fas fa-ban mr-2"></i>Ban</th>
                            <th><i class="fas fa-check mr-2"></i>Enabled</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr *ngFor="let user of userResponse">
                            <td><a class="email-link" (click)="openUserProfile(user.email!)"><i class="fas fa-envelope mr-2"></i>{{ user.email }}</a></td>
                            <td><i class="fas fa-user mr-2"></i>{{ user.profile?.name }}</td>
                            <td><i class="fas fa-user mr-2"></i>{{ user.profile?.lastName }}</td>
                            <td>
                              <ul>
                                <li *ngFor="let role of user.roles"><i class="fas fa-user-tag mr-2"></i>{{ role}}</li>
                              </ul>
                            </td>
                            <td>
                              <button (click)="toggleBan(user)" [ngClass]="{'btn-danger': user.security?.ban, 'btn-success': !user.security?.ban}"
                                      class="btn btn-sm">
                                <i class="fas fa-ban mr-2"></i>{{ user.security?.ban ? 'Unban' : 'Ban' }}
                              </button>
                            </td>
                            <td>
                              <button (click)="toggleEnable(user)"
                                      [ngClass]="{'btn-danger': !user.security?.enabled, 'btn-success': user.security?.enabled}"
                                      class="btn btn-sm">
                                <i class="fas fa-check mr-2"></i>{{ user.security?.enabled ? 'Disable' : 'Enable' }}
                              </button>
                            </td>
                            <td>
                              <form (ngSubmit)="changeUserRole(user)">
                                <div class="form-group">
                                  <select [(ngModel)]="selectedRole" class="form-control" name="role">
                                    <option *ngFor="let role of availableRoles" [value]="role">{{ role }}</option>
                                  </select>
                                </div>
                                <button class="btn btn-primary" type="submit"><i class="fas fa-user-edit mr-2"></i>Add/Remove Role</button>
                              </form>
                            </td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                      <app-pagination
                        (pageChanged)="onPageChange($event)"
                        [totalPages]="totalPages">
                      </app-pagination>
                      <!-- /.card-body -->
                    </div>
                  </div>
                </div>
              </div><!-- /.container-fluid -->
              