
<!-- search popup start-->
<div class="td-search-popup" id="td-search-popup">
    <form action="https://solverwp.com/demo/html/edumint/index.html" class="search-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search.....">
        </div>
        <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
    </form>
</div>
<!-- search popup end-->
<div class="body-overlay" id="body-overlay"></div>

<!-- navbar start -->
<div class="navbar-area">
    <!-- navbar top start -->
    <div class="navbar-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-md-left text-center">
                    <ul>
                        <li><p><i class="fa fa-map-marker"></i> 2072 Pinnickinick Street, WA 98370</p></li>
                        <li><p><i class="fa fa-envelope-o"></i>  <a href="https://solverwp.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fc95929a93bc8b999e8f958899d29f9391">[email&#160;protected]</a></p></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="topbar-right text-md-right text-center">
                        <li class="social-area">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar bg-white navbar-area-1 navbar-area navbar-expand-lg">
        <div class="container nav-container">
            <div class="responsive-mobile-menu">
                <button class="menu toggle-btn d-block d-lg-none" data-target="#edumint_main_menu" 
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-left"></span>
                    <span class="icon-right"></span>
                </button>
            </div>
            <div class="logo">
                <a href="index.html"><img src="assets/img/logo.png" alt="img"></a>
            </div>
            <div class="nav-right-part nav-right-part-mobile">
                <a class="signin-btn" href="signin.html">Sign In</a>
                <a class="btn btn-base" href="signup.html">Sign Up</a>
                <a class="search-bar" href="#"><i class="fa fa-search"></i></a>
            </div>
            <div class="collapse navbar-collapse" id="edumint_main_menu">
                <ul class="navbar-nav menu-open">
                    <li class="menu-item-has-children current-menu-item">
                        <a href="#">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index-1.html">Home 01</a></li>
                            <li><a href="index-2.html">Home 02</a></li>
                            <li><a href="index-3.html">Home 03</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Course</a>
                        <ul class="sub-menu">
                            <li><a href="course.html">Course</a></li>
                            <li><a href="course-details.html">Course Single</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="event.html">Event</a></li>
                            <li><a href="event-details.html">Event Details</a></li>
                            <li><a href="team.html">Instructor</a></li>
                            <li><a href="team-details.html">Instructor Details</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="signin.html">Sign In</a></li>
                            <li><a href="signup.html">Sign Up</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-grid.html">Blog Grid</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="nav-right-part nav-right-part-desktop">
                <a class="signin-btn" href="signin.html">Sign In</a>
                <a class="btn btn-base" href="signup.html">Sign Up</a>
                <a class="search-bar" href="#"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </nav>
</div>
<!-- navbar end -->

<!-- breadcrumb start -->
<div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/3.png')">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">Forum</h2>
                <ul class="page-list">
                    <li><a href="index.html">Home</a></li>
                    <li>Forum</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<!-- blog area start -->
<div class="forum-area pd-top-120 pd-bottom-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- Forum Threads -->
              <app-forum-thread [posts]="paginatedPosts"></app-forum-thread>
              

               

                <!-- Pagination -->
                <nav class="td-page-navigation">
                    <ul class="pagination">
                      <li class="pagination-arrow">
                        <a (click)="changePage('prev')" [class.disabled]="currentPage === 1">
                          <i class="fa fa-angle-double-left"></i>
                        </a>
                      </li>
                      <li *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
                        <a (click)="changePage(page)">{{ page }}</a>
                      </li>
                      <li class="pagination-arrow">
                        <a (click)="changePage('next')" [class.disabled]="currentPage === totalPages">
                          <i class="fa fa-angle-double-right"></i>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  
            </div>

            <!-- Forum Sidebar -->
            <div class="col-lg-4 col-12">
                <div class="td-sidebar">
                    
                    <!-- Forum Search -->
                    <div class="widget widget_search">
                        <form class="search-form">
                            <div class="form-group">
                                <input type="text" placeholder="Search">
                            </div>
                            <button class="submit-btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    <app-side-bar></app-side-bar>


                    <h4 class="widget-title">Articles</h4>
                    <div *ngFor="let article of articles" class="widget widget_catagory">
                        <ul class="catagory-items">
                            <li><a href="#">{{ article.titre }} <i class="fa fa-caret-right"></i></a></li>
                        </ul>
                    </div>
                    

                    <h4 class="widget-title">Recent Threads</h4>
                    <div *ngFor="let sortedpost of sortedPosts" class="widget widget-recent-thread">
                        <ul >
                            <li >
                                <a [routerLink]="'/post/' + sortedpost.idPost">
                                <h5 class="title">{{sortedpost.titre}}</h5>
                                <div class="post-info"><i class="fa fa-calendar"></i><span>{{sortedpost.updatedAt}}</span></div>
                            </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Forum Tags -->
                    <div class="widget widget_tags mb-0">
                        <h4 class="widget-title">Tags</h4>
                        <div class="tagcloud">
                            <a href="#">Programming</a>
                            <a href="#">Web Development</a>
                            <a href="#">Discussion</a>
                            <a href="#">Career</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- blog area end -->

