<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
      <div class="col-sm-6">
          <!-- Notification area -->
          <div *ngIf="messageSuccess" class="alert alert-success alert-dismissible" role="alert">
              <div class="success-message">
                  <button (click)="resetSuccessAlert()" class="close" type="button" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  {{ messageSuccess }}
              </div>
          </div>

          <!-- Notification area -->
          <div *ngIf="messageError" class="alert alert-danger alert-dismissible">
              <button (click)="resetErrorAlert()" class="close" type="button" data-dismiss="alert" aria-label="Close">×</button>
              {{ messageError }}
          </div>
      </div><!-- /.col -->
      <div class="row mb-2" style="margin-top: 100px; margin-left: auto; margin-right: auto; width: fit-content;">
          <div class="b-animate-2 title">
              <h1 class="b-animate-2 title">Profile</h1>
          </div>
      </div>
      <div class="row mb-2" style="margin-left: auto; margin-right: auto; width: fit-content;">
          <div class="col-sm-12 text-center">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">User Profile</li>
              </ol>
          </div>
      </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" style="height: 65vh;margin-left: 250px;">
  <div class="profile-content-container">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-3">
                  <!-- Profile Image -->
                  <app-user-profile [userInfoChanged]="userInfoChanged"></app-user-profile>
              </div>

              <div class="col-md-9">
                  <div class="card">
                      <div class="card-header p-2 profile-form">
                        <ul class="nav nav-pills">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#name" (click)="toggleLoading()">Profile</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#photo" (click)="checkUserProfileImage(); toggleLoading()">Profile photo</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#skills" (click)="toggleLoading()">Skills</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#contact" (click)="toggleLoading()">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#email" (click)="toggleLoading()">Email</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#password" (click)="toggleLoading()">Password</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#delete" (click)="toggleLoading()">Delete account</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#tfa" (click)="checkUserProfileTwoFactorAuth();toggleLoading()">Two Factor Authentication</a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#settings" (click)="toggleLoading()">Settings</a></li>
                          </ul>
                                    </div><!-- /.card-header -->
                      <div class="card-body profile-form2">
                          <div class="tab-content">
                              <div class="tab-pane active" id="name">
                                  <form (ngSubmit)="changeName()" [formGroup]="nameForm" class="form-horizontal">
                                      <div *ngIf="nameForm.get('name')?.touched && nameForm.get('name')?.errors?.['required']"
                                          class="text-danger">Name is required
                                      </div>
                                      <div *ngIf="nameForm.get('lastName')?.touched && nameForm.get('lastName')?.errors?.['required']"
                                          class="text-danger">Lastname is required
                                      </div>

                                      <div class="form-group row">
                                          <label class="col-sm-2 col-form-label" for="inputName"><i class="fa fa-user"></i> Name</label>
                                          <div class="col-sm-10">
                                              <input class="form-control" formControlName="name" placeholder="Name" type="text">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-sm-2 col-form-label"><i class="fa fa-user"></i> Lastname</label>
                                          <div class="col-sm-10">
                                              <input class="form-control" formControlName="lastName" placeholder="Lastname" type="text">
                                          </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"><i class="fa fa-briefcase"></i> Title</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" formControlName="title" placeholder="Title" type="text">
                                            </div>
                                          </div>


                                          <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"><i class="fa fa-info-circle"></i> Bio</label>
                                            <div class="col-sm-10">
                                                <input class="form-control" formControlName="bio" placeholder="Bio" type="text">
                                            </div>
                                          </div>

                                          <div class="form-group row">
                                            <label class="col-sm-2 col-form-label"><i class="fa fa-calendar"></i> Date of Birth</label>
                                            <div class="col-sm-10">
                                              <input class="form-control" placeholder="Date" bsDatepicker
                                                     [maxDate]="maxDate"
                                                     [bsConfig]="{ isAnimated: true, dateInputFormat: 'YYYY-MM-DD' }" formControlName="birthDate">
                                            </div>
                                          </div>



                                    

                                      <div class="form-group row">
                                          <div class="offset-sm-2 col-sm-10">
                                              <button class="btn btn-primary" type="submit">Submit</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>

                              <div class="tab-pane" id="photo">
                                  <form (ngSubmit)="changePhoto()" [formGroup]="photoForm" class="form-horizontal" enctype="multipart/form-data">
                                      <div *ngIf="photoForm.get('photo')?.touched && photoForm.get('photo')?.errors?.['required']"
                                          class="text-danger">Please upload a photo
                                      </div>
                                      <div class="form-group row">
                                          <label for="exampleInputFile">File input</label>
                                          <div class="input-group">
                                              <div class="custom-file">
                                                  <input (change)="onFileSelected($event)" class="custom-file-input" formControlName="photo"
                                                      id="exampleInputFile" type="file">
                                                  <label class="custom-file-label" for="exampleInputFile">{{ selectedFile?.name || 'Choose file' }}</label>
                                              </div>
                                              <div class="input-group-append">
                                                  <button class="btn btn-primary" type="submit">Upload</button>
                                              </div>
                                          </div>
                                      </div>
                                  </form>
                              </div>

                              <div class="tab-pane" id="skills">
                                <form (ngSubmit)="updateSkills()" class="form-horizontal">
                                  <div class="form-group row">
                                    <div class="col-sm-8 offset-sm-2">
                                      <div class="input-group mb-3">
                                        <input type="text" [matAutocomplete]="auto" [formControl]="skillControl" class="form-control" placeholder="Enter skill">
                                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addSkill()">
                                          <mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
                                            {{skill}}
                                          </mat-option>
                                        </mat-autocomplete>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group row" *ngFor="let skill of selectedSkills; index as i">
                                    <div class="col-sm-8 offset-sm-2">
                                      <div class="alert alert-primary d-flex justify-content-between align-items-center" role="alert">
                                        {{skill}}
                                        <button type="button" class="btn btn-danger btn-sm" (click)="removeSkill(i)">Remove</button>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <div class="col-sm-8 offset-sm-2">
                                      <button class="btn btn-primary btn-block" type="submit"><i class="fa fa-paper-plane"></i> Update</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                              <div class="tab-pane" id="contact">
                                <form (ngSubmit)="updateContact()" [formGroup]="contactForm" class="form-horizontal">
                                  <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="inputName"><i class="fa fa-phone"></i> Phone</label>
                                    <div class="col-sm-10">
                                      <input class="form-control" formControlName="phone" placeholder="Phone" type="text">
                                    </div>
                                    <!-- ... -->
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="inputName"><i class="fab fa-facebook"></i> Facebook</label>
                                    <div class="col-sm-10">
                                      <input class="form-control" formControlName="facebook" placeholder="Facebook" type="text">
                                    </div>
                                    <!-- ... -->
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="inputName"><i class="fab fa-linkedin"></i> Linkedin</label>
                                    <div class="col-sm-10">
                                      <input class="form-control" formControlName="linkedin" placeholder="Linkedin" type="text">
                                    </div>
                                    <!-- ... -->
                                  </div>
                                  <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="inputName"><i class="fab fa-github"></i> Github</label>
                                    <div class="col-sm-10">
                                      <input class="form-control" formControlName="github" placeholder="Github" type="text">
                                    </div>
                                    <!-- ... -->
                                  </div>
                                  <div *ngIf="countries" class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="inputName"><i class="fa fa-globe"></i> Country</label>
                                    <div class="col-sm-10">
                                      <select class="form-control" formControlName="country" [(ngModel)]="selectedCountry" (change)="onCountryChange(selectedCountry)">
                                        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div *ngIf="showStatesForm" class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="inputName"><i class="fa fa-map-marker"></i> State</label>
                                    <div class="col-sm-10">
                                      <select class="form-control" formControlName="state">
                                        <option *ngFor="let state of states" [value]="state.name">{{state.name}}</option>
                                      </select>
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                      <button class="btn btn-primary" type="submit"><i class="fa fa-paper-plane"></i> Update</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                


                              <!-- /.tab-pane -->
                              <div class="tab-pane" id="email">
                                  <form (ngSubmit)="sendVerificationCode()" *ngIf="showEmailForm" [formGroup]="emailForm"
                                      class="form-horizontal">
                                      <div class="form-group row">
                                          <label class="col-sm-2 col-form-label" for="inputName">Email</label>
                                          <div class="col-sm-10">
                                              <input class="form-control" formControlName="email" placeholder="Email" type="email">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <div class="offset-sm-2 col-sm-10">
                                              <button class="btn btn-primary" type="submit">Submit</button>
                                          </div>
                                      </div>
                                  </form>
                                  <div *ngIf="showVerification">
                                      <form (ngSubmit)="changeEmail()" [formGroup]="verificationForm" class="form-horizontal">
                                          <div class="form-group row">
                                              <label class="col-sm-2 col-form-label">Verification Code</label>
                                              <div class="col-sm-10">
                                                  <input class="form-control" formControlName="code" name="verificationCode"
                                                      placeholder="Verification Code"
                                                      required type="text">
                                              </div>
                                          </div>
                                          <div class="form-group row">
                                              <div class="offset-sm-2 col-sm-10">
                                                  <button class="btn btn-primary" type="submit">Verify Code</button>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                              </div>
                              <!-- /.tab-pane -->

                              <div class="tab-pane" id="password">
                                  <form (ngSubmit)="changePassword()" [formGroup]="passwordForm" class="form-horizontal">
                                      <div *ngIf="passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.errors?.['required']"
                                          class="text-danger">New password is required
                                      </div>
                                      <div *ngIf="passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.errors?.['minlength']"
                                          class="text-danger">Password must be at least 8 characters
                                      </div>
                                      <div *ngIf="passwordForm.get('newPassword')?.touched && passwordForm.get('newPassword')?.errors?.['maxlength']"
                                          class="text-danger">Password must be maximum 50 characters
                                      </div>
                                      <div *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.errors?.['required']"
                                          class="text-danger">Confirm password is required
                                      </div>
                                      <div *ngIf="passwordForm.hasError('confirmedValidator') && passwordForm.get('confirmPassword')?.touched"
                                          class="text-danger">Passwords did not match
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-sm-2 col-form-label" for="inputName">Password</label>
                                          <div class="col-sm-10">
                                              <input class="form-control" formControlName="password" id="inputName" placeholder="Password"
                                                  type="password">
                                          </div>
                                      </div>

                                      <div class="form-group row">
                                          <label class="col-sm-2 col-form-label">New password</label>
                                          <div class="col-sm-10">
                                              <input class="form-control" formControlName="newPassword" placeholder="New password"
                                                  type="password">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-sm-2 col-form-label">Confirm password</label>
                                          <div class="col-sm-10">
                                              <input class="form-control" formControlName="confirmPassword" placeholder="Confirm password"
                                                  type="password">
                                          </div>
                                      </div>
                                      <div class="form-group row">
                                          <div class="offset-sm-2 col-sm-10">
                                              <button class="btn btn-primary" type="submit">Submit</button>
                                          </div>
                                      </div>
                                  </form>
                              </div>

                              <div class="tab-pane" id="delete">
                                  <form (ngSubmit)="confirmDelete()" [formGroup]="deleteForm" class="form-horizontal">
                                      <div *ngIf="deleteForm.get('password')?.touched && deleteForm.get('password')?.errors?.['required']"
                                          class="text-danger">Please type your password
                                      </div>
                                      <div class="form-group row">
                                          <label class="col-sm-2 col-form-label" for="inputName">Password</label>
                                          <div class="col-sm-10">
                                              <input class="form-control" formControlName="password" id="psps" placeholder="Password"
                                                  type="password">
                                          </div>
                                      </div>
                                      <button class="btn btn-primary">Delete My Account</button>
                                  </form>
                              </div>
                              <div class="tab-pane" id="tfa">
                                <div *ngIf="!user.security?.twoFactorAuthEnabled" class="card-body">
                                    <button class="btn btn-primary" (click)="generateTwoFactorAuthQrCode()">Generate QR Code</button>
                                      <!-- Display the QR code here -->
                                      <div *ngIf="qrCodeImage">
                                          <img [src]="qrCodeImage" alt="QR Code">
                                      </div>
                                      <form *ngIf="qrCodeImage" [formGroup]="tfaForm" (ngSubmit)="enableTwoFactorAuth()">
                                          <div class="form-group">
                                              <label for="verificationCode">Verification Code</label>
                                              <input type="text" id="verificationCode" formControlName="verificationCode" class="form-control">
                                          </div>
                                          <button type="submit" class="btn btn-primary">Enable Two-Factor Authentication</button>
                                      </form>
                                  </div>
                                  <!-- Display a message when TFA is already enabled -->
                                  <div *ngIf="user.security?.twoFactorAuthEnabled" class="card-body">
                                    <p>Two-Factor Authentication is already enabled.</p>
                                      <button class="btn btn-danger" (click)="disableTwoFactorAuth()">Disable Two-Factor Authentication</button>
                                  </div>
                              </div>


                              <div class="tab-pane" id="settings">
                                <div class="form-group">
                                  <div class="custom-control custom-switch">
                                    <label for="verificationCode"><i class="fa fa-cogs"></i> Privacy Settings :</label>
                                    <div class="form-group">
                                      <mat-slide-toggle color="primary" (click)="toggleShowPhone()" [(ngModel)]="showPhone"><i class="fa fa-phone"></i> Show Phone</mat-slide-toggle>
                                    </div>
                
                                    <div class="form-group">
                                      <mat-slide-toggle color="primary" (click)="toggleShowAddress()" [(ngModel)]="showAddress"><i class="fa fa-home"></i> Show Address</mat-slide-toggle>
                                    </div>
                
                                    <div class="form-group">
                                      <mat-slide-toggle color="primary" (click)="toggleShowBirthDate()" [(ngModel)]="showBirthDate"><i class="fa fa-birthday-cake"></i> Show Birth Date</mat-slide-toggle>
                                    </div>
                
                                  </div>
                                </div>
                              </div>



                              <!-- /.tab-pane -->
                          </div>
                          <!-- /.tab-content -->
                      </div><!-- /.card-body -->
                  </div>
                  <!-- /.card -->
              </div>
              <!-- /.col -->
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
        <button data-widget="pushmenu" mat-fab color="primary" class="fabb" (click)="openDialog()">
          <mat-icon>live_help</mat-icon>
        </button>
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-Gh8P+js7r2U9a6j3RgXtT9Ff7c7XAt3uqi6pZW7NKS8eFd2avB6Z/K1VfGTumQ2gTdXeGK+U8jfcJ0qcBd0iCg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
