<div class="container-fluid h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-8"> <!-- Increased width -->
      <div class="card shadow-lg border-0" style="width:100%; max-width: 100000px;">
        <div class="card-body">
          <form [formGroup]="newDepartementFormGroup" (ngSubmit)="handleAddDepartement()">
            <div class="text-center mb-4">
              <h2 class="form-title text-primary">ADD Departement</h2>
            </div>
            <div class="form-group">
              <label for="name">Name <span class="text-danger">*</span></label>
              <input class="form-control" id="name" type="text" formControlName="name" placeholder="Enter department name">
            </div>
            <div class="form-group">
              <label for="chefDepartment">Chef Department <span class="text-danger">*</span></label>
              <input class="form-control" id="chefDepartment" type="text" formControlName="chefDepartment" placeholder="Enter chef department">
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary"   style="background-color: darkgreen; color: white;">Submit</button>

              <button type="button" class="btn btn-secondary" style="background-color: darkred; color: white;" (click)="onCancelClick()">Close</button> <!-- Close button added -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let department of departments">
          <span class="font-weight-bold">{{ department.name }}</span> (ID: {{ department.id }}) - Chef: {{ department.chefDepartment }}
        </li>
      </ul>
    </div>
  </div>
</div>
