

<!-- search popup start-->
<div class="td-search-popup" id="td-search-popup">
    <form action="https://solverwp.com/demo/html/edumint/index.html" class="search-form">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search.....">
        </div>
        <button type="submit" class="submit-btn"><i class="fa fa-search"></i></button>
    </form>
</div>
<!-- search popup end-->
<div class="body-overlay" id="body-overlay"></div>

<!-- navbar start -->
<div class="navbar-area">
    <!-- navbar top start -->
    <div class="navbar-top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-md-left text-center">
                    <ul>
                        <li><p><i class="fa fa-map-marker"></i> 2072 Pinnickinick Street, WA 98370</p></li>
                        <li><p><i class="fa fa-envelope-o"></i>  <a href="https://solverwp.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fc95929a93bc8b999e8f958899d29f9391">[email&#160;protected]</a></p></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="topbar-right text-md-right text-center">
                        <li class="social-area">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar bg-white navbar-area-1 navbar-area navbar-expand-lg">
        <div class="container nav-container">
            <div class="responsive-mobile-menu">
                <button class="menu toggle-btn d-block d-lg-none" data-target="#edumint_main_menu" 
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-left"></span>
                    <span class="icon-right"></span>
                </button>
            </div>
            <div class="logo">
                <a href="index.html"><img src="assets/img/logo.png" alt="img"></a>
            </div>
            <div class="nav-right-part nav-right-part-mobile">
                <a class="signin-btn" href="signin.html">Sign In</a>
                <a class="btn btn-base" href="signup.html">Sign Up</a>
                <a class="search-bar" href="#"><i class="fa fa-search"></i></a>
            </div>
            <div class="collapse navbar-collapse" id="edumint_main_menu">
                <ul class="navbar-nav menu-open">
                    <li class="menu-item-has-children current-menu-item">
                        <a href="#">Home</a>
                        <ul class="sub-menu">
                            <li><a href="index-1.html">Home 01</a></li>
                            <li><a href="index-2.html">Home 02</a></li>
                            <li><a href="index-3.html">Home 03</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Course</a>
                        <ul class="sub-menu">
                            <li><a href="course.html">Course</a></li>
                            <li><a href="course-details.html">Course Single</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="event.html">Event</a></li>
                            <li><a href="event-details.html">Event Details</a></li>
                            <li><a href="team.html">Instructor</a></li>
                            <li><a href="team-details.html">Instructor Details</a></li>
                            <li><a href="pricing.html">Pricing</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="signin.html">Sign In</a></li>
                            <li><a href="signup.html">Sign Up</a></li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="blog-grid.html">Blog Grid</a></li>
                            <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact Us</a></li>
                </ul>
            </div>
            <div class="nav-right-part nav-right-part-desktop">
                <a class="signin-btn" href="signin.html">Sign In</a>
                <a class="btn btn-base" href="signup.html">Sign Up</a>
                <a class="search-bar" href="#"><i class="fa fa-search"></i></a>
            </div>
        </div>
    </nav>
</div>
<!-- navbar end -->

<!-- breadcrumb start -->
<div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/3.png')">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">Forum</h2>
                <ul class="page-list">
                    <li><a href="index.html">Home</a></li>
                    <li>Forum</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<div class="top-communities-container">
    <p class="top-communities">Top Articles In Courzelo</p>
    <a href="/newArticle" class="plusButton">
      <svg class="plusIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
        <g mask="url(#mask0_21_345)">
          <path d="M13.75 23.75V16.25H6.25V13.75H13.75V6.25H16.25V13.75H23.75V16.25H16.25V23.75H13.75Z"></path>
        </g>
      </svg>
    </a>
  </div>
  

  <table class="community-table">
    <tbody>
      <ng-container *ngFor="let article of articles; let i = index">
        <tr *ngIf="i % 4 === 0"></tr>
        <td>
          <div class="article-content">
            <a href="/forum/{{ article.idArticle }}" style="font-weight: bold;">{{ article.titre }}</a>
  
            <!-- Follow/Unfollow Button -->
            <button mat-icon-button [color]="isArticleFollowed(article.idArticle) ? 'warn' : 'primary'" aria-label="Follow/Unfollow" (click)="toggleFollow(article.idArticle)">
              <!-- Change the icon based on whether the article is followed or not -->
              <mat-icon>{{ isArticleFollowed(article.idArticle) ? 'favorite' : 'favorite_border' }}</mat-icon>
            </button>
  
            <!-- Update Button -->
            <button  [routerLink]="'/updateArticle/' + article.idArticle" mat-icon-button color="primary" aria-label="Update" >
              <mat-icon>edit</mat-icon>
            </button>
  
            <!-- Delete Button -->
            <button mat-icon-button color="warn" aria-label="Delete" (click)="openDeleteConfirmationDialog(article.idArticle)">
              <mat-icon>delete</mat-icon>
            </button>
        </div>

            <p style="margin-left: 10px;">{{ article.category }}</p>
        </td>
      </ng-container>
    </tbody>
  </table>
  
  

    
