

main {
    max-width: 800px;
    margin: 20px auto;
}

.community-table {
    width: 1000px;
    border-collapse: collapse;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.community-table th, .community-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.community-table th {
    background-color: #1e5bbc;
    color: #fff;
}

.community-table a {
    color: #333;
    text-decoration: none;
}

.community-table a:hover {
    text-decoration: underline;
}


.top-communities {
    font-size: 24px;
    font-weight: bold;
    margin-top: 30px;
    margin-right: 350px;
    margin-left: 350px;
    text-align: center;
    color: #000359;

}
/* Note that you only needs to edit the config to customize the button! */

.plusButton {
    /* Config start */
    --plus_sideLength: 2.5rem;
    --plus_topRightTriangleSideLength: 0.9rem;
    /* Config end */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: var(--plus_sideLength);
    height: var(--plus_sideLength);
    background-color: #060273;
    overflow: hidden;
  }
  
  .plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover {
    cursor: pointer;
  }
  
  .plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton>.plusIcon {
    fill: rgb(255, 255, 255);
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }
  
  .plusButton:focus-visible>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }

.top-communities-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Adjust as needed */
}
