.post{
    --post-line-color: #ccc;    
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    color: #878A8C;
    position: relative;
    border-radius: 4px;
    padding:5px;

}

.btnCommments{
    border-radius: 2px solid;
    color: #878A8C;
    opacity: 1;
}

.btnCommments:hover{
    opacity: 0.65;
    cursor: pointer;
}

.post-title{
    font-size: 28px;
    font-weight: bold;
    opacity: 1;
}

.posturl, .postname{    
    color: black;
}

.subreddit-text{
    font-weight: bold;
}

.post-text{
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 600px;
}
/* Add this CSS to your styles.css or component's style file */

/* Add this CSS to your styles.css or component's style file */

.post-buttons {
    display: flex;
    align-items: center;
  }
  
  .post-buttons button {
    margin-left: 10px;
    background-color: #2196f3; /* Blue color for buttons */
    color: #fff; /* White text color */
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .post-buttons button[aria-label="Delete"] {
    background-color: #ff9800; /* Yellow color for delete button */
  }
  
  .post-buttons button:hover {
    background-color: #1565c0; /* Darker blue color on hover */
  }
  
  .post-buttons button[aria-label="Delete"]:hover {
    background-color: #e65100; /* Darker yellow color on hover for delete button */
  }
  
