<div class="sidebar">
    <img src="https://www.redditstatic.com/desktop2x/img/id-cards/home-banner@2x.png">
    <div style="text-align: center; font-size: 1em ; margin-top: 10px;">Your personal Reddit frontpage. Come here to check in with your favorite communities.</div>
   <div class="buttons">
    <div style="text-align: center">
        <button class="btn btn-base b-animate-3 mr-sm-3 mr-2" [routerLink]="['/newPost']">Create Post</button>

    </div>
    <div style="text-align: center; margin-top: 10px;">
        <button class="btn btn-border-black b-animate-3 mr-sm-3 mr-2"[routerLink]="['/newArticle']" >Create Article</button>
    </div></div>
</div>
