<app-forum-header></app-forum-header>

<div class="forum-area" style="margin-top: 50px;margin-left: -200px; margin-bottom: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <hr />
                <div class="create-post-container">
                    <form class="post-form" [formGroup]="updatePostForm" (ngSubmit)="updatePost()">
                        <div class="form-group">
                            <div class="create-post-heading">Update Post</div>
                            <hr />
                            <input type="text" [formControlName]="'titre'" class="form-control" style="margin-top: 5px"
                                placeholder="Title">

                            <input type="text" class="form-control" style="margin-top: 5px" placeholder="URL">

                            <select class="form-control" style="margin-top: 10px" [formControlName]="'articleId'">
                                <option value="">no article</option>
                                <option *ngFor="let article of articles" [value]="article.idArticle">{{article.titre}}</option>
                            </select>

                            <editor [formControlName]="'context'" apiKey="qdqz07wmg9hxpggce1gvgwm74xsljkxlsj8p51oc1u3frbx2"
                                [init]="editorConfig"></editor>
                            <span>
                                <div style="margin-top: 5px" class="float-right">
                                    <button class="btnDiscard">Discard</button>
                                    <button type="submit" class="btnCreatePost">Update</button>
                                </div>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar" style="margin-left: 20px;margin-top: 40px;">
                    <h5 class="guidelines">Posting to Courzelo Forum</h5>
                    <hr />
                    <ul>
                        <li>Remember the human</li>
                        <hr />
                        <li>Behave like you would in real life</li>
                        <hr />
                        <li>Don't spam</li>
                        <hr />
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
