<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Wizard</title>
</head>

<body>
    <app-header></app-header>
 <!-- breadcrumb start -->
 <div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/3.png')">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="section-title mb-0 text-center">
                <h2 class="page-title">Create Post</h2>
                <ul class="page-list">
                    <li><a routerLink="" href="index.html">Home</a></li>
                    <li>Create Post</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->

<div class="forum-area" style="margin-top: 50px;margin-left: -200px; margin-bottom: 100px;">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <hr />
                <div class="create-post-container">
                    <form class="post-form" [formGroup]="createPostForm" (ngSubmit)="createPost()">
                        <div class="form-group">
                            <div class="create-post-heading">Create Post</div>
                            <hr />
                            <input type="text" [formControlName]="'titre'" class="form-control" style="margin-top: 5px"
                                placeholder="Title">
                               
                                  

                            <select  class="form-control" style="margin-top: 10px" [formControlName]="'articleId'">
                                <option value="" >no article</option>
                                <option  *ngFor="let article of articles" [value]="article.idArticle">{{article.titre}}</option>
                            </select>


                            <editor [formControlName]="'context'" apiKey="qdqz07wmg9hxpggce1gvgwm74xsljkxlsj8p51oc1u3frbx2"
                                [init]="editorConfig"></editor>
                            <span>
                                <div style="margin-top: 5px" class="float-right">
                                    <button class="btnDiscard">Discard</button>
                                    <button class="btnCreatePost">Post</button>
                                </div>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar" style="margin-left: 20px;margin-top: 40px;">
                    <h5 class="guidelines">Posting to Courzelo Forum</h5>
                    <hr />
                    <ul>
                        <li>Remember the human</li>
                        <hr />
                        <li>Behave like you would in real life</li>
                        <hr />
                        <li>Don't spam</li>
                        <hr />
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
