<!-- Content Wrapper. Contains page content -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="col-sm-6">
            <!-- Notification area -->
        </div><!-- /.col -->
        <div class="row mb-2" style="margin-top: 100px; margin-left: auto; margin-right: auto; width: fit-content;">
            <div class="b-animate-2 title">
                <h1 class="b-animate-2 title">Device List</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content" style="height: 65vh;margin-left: 250px;">
    <div class="profile-content-container">
        <!-- Device List Content -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 table-container">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Devices Table</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Device</th>
                                        <th>Last Login</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let device of deviceDTOS">
                                        <td>{{ device.deviceDetails }}</td>
                                        <td>{{ device.lastLoggedIn }}</td>
                                        <td>
                                            <button (click)="deleteDevice(device.id!)" class="btn btn-danger btn-sm">Delete</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- footer area start -->
    <footer class="footer-area bg-gray">
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 align-self-center">
                        <a href="index.html"><img src="assets/img/logo.png" alt="img"></a>
                    </div>
                    <div class="col-lg-4  col-md-6 order-lg-12 text-md-right align-self-center">
                        <ul class="social-media mt-md-0 mt-3">
                            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-4 order-lg-8 text-lg-center align-self-center mt-lg-0 mt-3">
                        <p>Courzelo team</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->
