<aside class="main-sidebar sidebar-dark-primary elevation-4" style="margin-top: 100px;">
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img [src]="userPhotoUrl|| 'assets/default-image.jpg'" alt="User Image" class="img-circle elevation-2">
      </div>
      <div class="info">
        <a class="d-block" routerLink="/settings/profile" style="color: black !important;">{{loginResponse.profile?.name + " " + loginResponse.profile?.lastName }}</a>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
        <!-- Menu items -->
        <!-- Profile -->
        <li class="nav-item">
          <a (click)="toggleMenu()" [ngClass]="{ 'active': isMenuOpen }" class="nav-link" style="color: white !important;">
            <i [ngClass]="{ 'icon': true, 'rotated': isMenuOpen }">&#x25B6;</i>
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p style="color: white !important;">Settings</p>
          </a>
          <ul class="nav nav-treeview" [ngStyle]="{ 'display': isMenuOpen ? 'block' : 'none' }">
            <li class="nav-item">
              <a class="nav-link" routerLink="/settings/profile" routerLinkActive="active">
                <p style="color: white !important;">My profile</p>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/settings/devices" routerLinkActive="active">
                <p style="color: white !important;">My devices</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- SuperAdmin -->
        <li *ngIf="loginResponse.roles && loginResponse.roles.includes('ROLE_SUPERADMIN')" class="nav-item" [ngClass]="{ 'menu-open': isSuperAdminMenuOpen }">
          <a (click)="toggleSuperAdminMenu()" [ngClass]="{ 'active': isSuperAdminMenuOpen }" class="nav-link">
            <i [ngClass]="{ 'icon': true, 'rotated': isSuperAdminMenuOpen }">&#x25B6;</i>
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p style="color: white;">SuperAdmin</p>
          </a>


          <ul class="nav nav-treeview" [ngStyle]="{ 'display': isSuperAdminMenuOpen ? 'block' : 'none' }">
            <li class="nav-item">
              <a class="nav-link" routerLink="/superAdmin/institutions" routerLinkActive="active">
                <p style="color: white;">Institutions</p>
              </a>
            </li>
          </ul>



          <ul class="nav nav-treeview" [ngStyle]="{ 'display': isSuperAdminMenuOpen ? 'block' : 'none' }">
            <li class="nav-item">
              <a class="nav-link" routerLink="/superAdmin/users" routerLinkActive="active">
                <p style="color: white;">Users</p>
              </a>
            </li>
          </ul>
        </li>


        <ul class="nav nav-treeview" [ngStyle]="{ 'display': isSuperAdminMenuOpen ? 'block' : 'none' }">
          <li class="nav-item">
            <a class="nav-link" routerLink="/superAdmin/search" routerLinkActive="active">
              <p style="color: white;">Search</p>        
                </a>
          </li>
        </ul>

        <li class="nav-item" 
        [ngClass]="{'menu-open': isAdminMenuOpen, 'menu-close': !isAdminMenuOpen}">
        <a (click)="toggleAdminMenu()" [ngClass]="{'active': isAdminMenuOpen, '': !isAdminMenuOpen}" class="nav-link">
          <i [ngClass]="{ 'icon': true, 'rotated': isMenuOpen }">&#x25B6;</i>  
          <i class="nav-icon fas fa-tachometer-alt"></i>
            <p style="color: white;">Consult</p>
          </a>

          <ul class="nav nav-treeview" [ngStyle]="{ 'display': isAdminMenuOpen ? 'block' : 'none' }">
            <li *ngIf="loginResponse.education?.institution" class="nav-item">
              <a class="nav-link" routerLink="/organisation/institution" routerLinkActive="active">
                <p style="color: white;">My Institution</p>        
                  </a>
            </li>
          </ul>

          <ul class="nav nav-treeview" [ngStyle]="{ 'display': isAdminMenuOpen ? 'block' : 'none' }">
            <li class="nav-item">
              <a class="nav-link" routerLink="/organisation/ProgramsAndClasses" routerLinkActive="active">
                <p style="color: white;">Classes/Programs</p>        
                  </a>
            </li>
          </ul>

          <li *ngIf="loginResponse.roles && loginResponse.roles.includes('ROLE_ADMIN')" class="nav-item">
            <a class="nav-link" routerLink="/organisation/programs" routerLinkActive="active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p style="color: white;">Programs</p>
            </a>
          </li>
  
          <li *ngIf="loginResponse.roles && loginResponse.roles.includes('ROLE_ADMIN') &&loginResponse.education?.institution" class="nav-item">
            <a class="nav-link" routerLink="/organisation/calendar" routerLinkActive="active">
              <i class="far fa-circle nav-icon"></i>
              <p>Calendar</p>
            </a>
          </li>
        </ul>
        <ul *ngIf="loginResponse.education?.institution" class="nav nav-treeview">

          <li class="nav-item">
            <a routerLink="/organisation/departments" routerLinkActive="active" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Departments</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/organisation/timetable" routerLinkActive="active"  class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>timetable</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/organisation/fieldOfStudies" routerLinkActive="active" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Field of Study</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/organisation/NonDisponibilities" routerLinkActive="active" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Non Disponibilities</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/organisation/listPost" routerLinkActive="active">
              <i class="far fa-circle nav-icon"></i>
              <p>Forum</p>
            </a>
          </li>



        <!-- Admin -->
        <li *ngIf="loginResponse.roles && loginResponse.roles.includes('ROLE_ADMIN')" class="nav-item" [ngClass]="{ 'menu-open': isAdminMenuOpen }">
          <a (click)="toggleAdminMenu()" [ngClass]="{ 'active': isAdminMenuOpen }" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Admin</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
