<h4 class="widget-title">Leaderboard of top 3 Posts!</h4>
<div *ngFor="let l of leaderboardPosts" class="contact-list-inner">
    <div  class="media">
        <div class="media-left">
            <img src="assets/img/team/2.png" style="object-fit: cover;" alt="img">
        </div>
        <div class="media-body align-self-center">
            <h5><a href="/post/{{l.idPost}}">{{l.titre}}</a></h5>
            <p>{{l.rating.length}} Votes</p>
            <p>{{l.followedBy.length}} Followers</p>

        </div>
    </div>
</div>
