<!-- navbar start -->
<div class="navbar-area">
    <!-- Your existing navbar content goes here -->
</div>
<!-- navbar end -->

<!-- breadcrumb start -->
<div class="breadcrumb-area bg-overlay" style="background-image:url('assets/img/bg/3.png')">
    <!-- Your existing breadcrumb content goes here -->
</div>
<!-- breadcrumb end -->

<!-- recover password area start -->
<div class="recover-password-area pd-top-120 pd-bottom-120" style="background-image: url('assets/img/background2.jpg')">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7">
                <div class="recover-password-inner">
                    <div class="row">
                        <div class="col-12">
                            <form [formGroup]="passwordForm" (ngSubmit)="recoverPassword()">
                                <div class="single-input-inner style-bg-border">
                                    <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
                                    <input class="form-control" formControlName="password" placeholder="Password" type="password">
                                    <div *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.invalid" class="text-danger">
                                        Password must be at least 8 characters and maximum 50 characters.
                                    </div>
                                </div>
                                <div class="single-input-inner style-bg-border">
                                    <input class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" type="password">
                                    <div *ngIf="passwordForm.get('confirmPassword')?.errors?.['confirmedValidator']" class="text-danger">
                                        Passwords must match.
                                    </div>
                                </div>
                                <div class="col-12 mb-4">
                                    <button class="btn btn-primary btn-block" type="submit">Change password</button>
                                </div>
                                <div class="col-12">
                                    <p class="mt-3 mb-1" style="color :white">
                                        <a routerLink="/login">Login</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- recover password area end -->

<!-- back to top area start -->
<div class="back-to-top">
    <span class="back-top"><i class="fa fa-angle-up"></i></span>
</div>
<!-- back to top area end -->

<!-- all plugins here -->
<script src="assets/js/vendor.js"></script>
<!-- main js -->
<script src="assets/js/main.js"></script>
